@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200&family=Roboto+Condensed:wght@300&family=Source+Sans+3:wght@200&display=swap');

/* fixxed */
* {
margin: 0;
    font-family:  'Courier New', monospace;

}

html  {
  overflow-y: scroll;
	height: 100%;
	-webkit-overflow-scrolling: touch;
}

body {
overflow-x: hidden; 
overflow-y: visible;
position: relative;
height: unset; 
}


html, body {
  overflow-x: hidden;
	margin: 0;
}

#cursor {
  position: fixed;
  width: 0px;
  height:0px;
  background-color: rgb(255, 255, 255);
z-index: 1;
border-radius: 10px;
box-shadow: 0px 0px 150px 150px rgb(255, 255, 255);
}


.background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index:-2;
}


.hint {
  color: white;
  position: absolute;
  left: 50%;
  top: 10vh;
  transform: translateX(-50%);
  width: 90vw;
  text-align: center;
  z-index: 3
}

header {
position: fixed;
    height: 5vh;
    left: 50%;
    transform: translateX(-50%);
    /* border: solid red 1px; */
padding: 10px;
z-index: 4;
}

#name-heading {
    position: absolute;
    top: 50%;
left: 50%;
color: white;
transform: translate(-50%, -50%);
white-space: nowrap;
}
@media screen and (max-width: 1000px) {
  #name-heading {
    font-size: 20px;
  }
}




.slides {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main.slide {
  position: absolute;
  top: 0;
left: 0px;
width: 100vw;
height: 100vh;

}
.main.slide:hover{
  cursor: none;
}

.main.slide .background{
  background-color: rgb(0, 0, 0);
z-index: -1;
}
@media screen and (max-width: 1000px) {
  .main.slide .background{
    background-color: rgb(0, 0, 0);
  
  }
}

 #main-img {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  opacity: 01;
  
}

.main.slide .hint {
  color: white;
  position: absolute;
  left: 50%;
  top: 10vh;
  transform: translateX(-50%);
  width: 90vw;
  text-align: center;
  z-index: 3
}

.main.slide .hint::after{
  content: '>Move your cursor around...';
}

@media screen and (max-width: 1000px) {
  .main.slide .hint::after{
    content: '>Tap anywhere on the screen...';
  }
}

.main.slide .mobile-warning {
  color: rgb(255, 229, 229);
  font-weight: 800;
  position: absolute;
  left: 50%;
  top: 20vh;
  transform: translateX(-50%);
width: 80vw;
visibility: hidden;
z-index: 3;
background-color: darkred;
text-align: center;
padding: 5px;
border-radius: 10px;
}


@media screen and (max-width: 1000px){
  .main.slide .mobile-warning {
    visibility: visible;
  }
}


.slides .overview.slide {
  position: absolute;
  top: 00vh;
  left: 100vw;
  height: 100vh;
  width: 100vw;
}

.slides .slide.overview .background {
  background-image: linear-gradient(142deg, rgb(58, 127, 255), rgb(227, 13, 255));
}



.overview.slide .hint::after{
  content: '>Hover over a box...';
}

@media screen and (max-width: 1000px) {
  .overview.slide .hint::after{
    content: '>Tap on a box...\a(Support for this device will come soon...)';
    white-space: pre-wrap;
  }
}

.overview-container{

  width: 60vw;
  height: 50vh;
  position: absolute;
  left: 50vw;
  top: 30vh;
  transform: translateX(-50%);
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.box {
  position: relative;

width: 20%;
height: 50%;
display: inline-block;
border-radius: 30px;
background-color: rgba(255, 255, 255, 0.233);
box-shadow: 0px 0px 50px 10px rgba(255, 255, 255, 0.248);
transition: 1s;
}

.box:hover{
  
width: 30%;
height: 120%;
transition: 1s;
animation-fill-mode: both;
}

















@keyframes cursor-randomizer {
   0% {cursor: alias;}
    2.8% {cursor:all-scroll;}
    5.6% {cursor:auto;}
    8.34% {cursor: cell;}
    11.12% {cursor: col-resize;}
    13.9% {cursor: context-menu;}
    16.68% {cursor: copy;}
    19.46% {cursor: crosshair;}
    22.24% {cursor: default;}
    25.02% {cursor: e-resize;}
    27.8% {cursor: ew-resize;}
    30.58% {cursor: grab;}
    33.36% {cursor: zoom-in;}
    36.14% {cursor: help;}
    38.92% {cursor: move;}
    41.7% {cursor: n-resize;}
    44.48% {cursor: ne-resize;}
    47.26% {cursor: nesw-resize;}
    50.04% {cursor: no-drop;}
    52.82% {cursor: none;}
    55.6% {cursor: not-allowed;}
    58.38% {cursor: ns-resize;}
    61.16% {cursor: nw-resize;}
    63.94% {cursor: nwse-resize;}
    66.72% {cursor: pointer;}
    69.5% {cursor: progress;}
    72.28% {cursor: row-resize;}
    75.06% {cursor: s-resize;}
    77.84% {cursor: se-resize;}
    80.62% {cursor: sw-resize;}
    83.4% {cursor: text;}
    86.18% {cursor: vertical-text;}
    88.96% {cursor: w-resize;}
    91.74% {cursor: wait;}
    94.52% {cursor: grabbing;}
    100% {cursor: zoom-out;}
    
}













