@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200&family=Roboto+Condensed:wght@300&family=Source+Sans+3:wght@200&display=swap');

/* fixxed */
* {
margin: 0;
    font-family:  'Courier New', monospace;

}

html  {
width: 100vw;
}

body {
overflow-x: hidden;    
}


header {
padding: 20px 0 0 30px;
}

#page-lines{
    position: absolute;
    top: 00vh;
    left: 0;
    width: 100%;
}

#page-lines hr{
    margin: 100vh 0 0 0 ;
    padding: 0;
    /* visibility: hidden; */
}

/* Header Name */

header #name-heading{
font-size: 25px;
letter-spacing: -1px;
}

.background-container{

    z-index: -1;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height:2000vh;

    background-image: linear-gradient(-30deg, rgba(247, 0, 255, 0.583),rgba(156, 243, 242, 0.583) 95% );
    filter: blur(4px)
}


#main-title{
    /* border: 1px black solid; */
    position: absolute;
    left: 50vw;
    transform: translateX(-50vw);
    top: 1em;
background-color    : rgba(0, 255, 255, 0);
    width: 80%;
min-height: 100vh;
    border-radius: 200px;
}


#main-title h1{
    position: absolute;
top: 50%;
left: 50%;
transform: translate(-25%,  -50%);
white-space: nowrap;

    font-family: 'MuseoModerno', cursive;
font-size: 10vw;
line-height: 100%;
animation-name: cursor-randomizer;
animation-duration: 2s;
animation-iteration-count: infinite;

}


@keyframes cursor-randomizer {
   0% {cursor: alias;}
    2.8% {cursor:all-scroll;}
    5.6% {cursor:auto;}
    8.34% {cursor: cell;}
    11.12% {cursor: col-resize;}
    13.9% {cursor: context-menu;}
    16.68% {cursor: copy;}
    19.46% {cursor: crosshair;}
    22.24% {cursor: default;}
    25.02% {cursor: e-resize;}
    27.8% {cursor: ew-resize;}
    30.58% {cursor: grab;}
    33.36% {cursor: zoom-in;}
    36.14% {cursor: help;}
    38.92% {cursor: move;}
    41.7% {cursor: n-resize;}
    44.48% {cursor: ne-resize;}
    47.26% {cursor: nesw-resize;}
    50.04% {cursor: no-drop;}
    52.82% {cursor: none;}
    55.6% {cursor: not-allowed;}
    58.38% {cursor: ns-resize;}
    61.16% {cursor: nw-resize;}
    63.94% {cursor: nwse-resize;}
    66.72% {cursor: pointer;}
    69.5% {cursor: progress;}
    72.28% {cursor: row-resize;}
    75.06% {cursor: s-resize;}
    77.84% {cursor: se-resize;}
    80.62% {cursor: sw-resize;}
    83.4% {cursor: text;}
    86.18% {cursor: vertical-text;}
    88.96% {cursor: w-resize;}
    91.74% {cursor: wait;}
    94.52% {cursor: grabbing;}
    100% {cursor: zoom-out;}
    
}

#main-title #hello-scroll{
    position: absolute;
    top: 15em;
    left: -1vw;

    font-size: 3em;
}


#about {
    position: absolute;
    top: 100vh;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}

#about h2{
    font-size: 1.3em;
    padding: 10px;
    position: absolute;
width: 80vw;
background-color: rgba(255, 255, 255, 0.324);
border-radius: 10px;
height: 30vh;
overflow-y: scroll;
}

@media screen and (max-width: 1000px){
    #about h2{
        font-size: 0.8em;
    }
}


#skill-list {
    position: absolute;
    left: 0;
    top: 40vh;
/* border: 1px black solid; */
width: 100vw;
height: 300vh;
}

 .header-skill{

left: 00px;
font-size: 2.5em;
white-space: nowrap;
}
@media screen and (max-width: 1000px){
    .header-skill {
font-size: 1.5em ;
        }
}


#skill-list p {
    padding: 10px;
    position: absolute;
width: 80vw;
background-color: rgba(255, 255, 255, 0.324);
border-radius: 10px;

overflow-x: scroll;
white-space: nowrap;
    }
@media screen and (max-width: 1000px){
    #skill-list p {

        font-size: 1.05em;
    }
}


#services {
    position: absolute;
    top: 200vh;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    
}


#services p {
    padding: 10px;
    position: absolute;
width: 80vw;
background-color: rgba(255, 255, 255, 0.324);
border-radius: 10px;

overflow-x: scroll;
white-space: nowrap;
}
